@font-face {
    font-family: 'Figtree';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Figtree-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Figtree-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Figtree';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Figtree-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Figtree-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Figtree';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Figtree-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Figtree-ExtraBoldItalic') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Figtree';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Figtree-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Figtree-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Figtree';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Figtree-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium is typically 500 */
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Figtree-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Figtree';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Figtree-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Figtree-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Figtree-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Figtree';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Figtree-Italic.ttf') format('truetype');
    font-weight: normal; /* Assuming this matches the regular style but italic */
    font-style: italic;
}
